body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    width: 1520px;
    height: 678px;
    display: flex;
    animation: slide 5s infinite alternate;
}

.slide {
    width: 100%;
}

.slide img {
    width: 1520px;
    height: 678px;
    object-fit: cover;
}

@keyframes slide {
    0% {transform: translateX(-300%);}
    20% {transform: translateX(-300%);}
    25% {transform: translateX(-200%);}
    45% {transform: translateX(-200%);}
    50% {transform: translateX(-100%);}
    70% {transform: translateX(-100%);}
    75% {transform: translateX(0);}
    100% {transform: translateX(0);}
    /* 100% {transform: translateX(0);} */
}