body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.town {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.sky {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.sky img {
    width: 1620px;
    height: 678px;
}

.city {
    position: relative;
    background-repeat: repeat-y;
    background-size: 200%;
    height: 100%;
    width: 100%;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: road 10s ease-in-out infinite;
}

.city img {
    position: relative;
    transform: translate(-100px, -500px);
    width: 3500px;
    height: 250px;
}

@keyframes road {

    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100vw);
    }

}

.car {
    position: fixed;
    width: 500px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    animation: car 10s ease-in-out infinite;
}

.car img {
    width: 450px;
    height: 200px;
    transform: translate(450px, -450px);
}

@keyframes car {

    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100vw);
    }

}

.wheel {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 380px;
}

.wheel img {
    width: 100px;
    height: 100px;
    transform: translate(450px, -400px);
    animation: wheel 10s ease-in-out infinite;
}

@keyframes wheel {

    0% {
        transform: translate(450px, -400px) rotate(0deg);
    }

    50% {
        transform: translate(450px, -400px) rotate(-360deg);
    }

    100% {
        transform: translate(450px, -400px) rotate(0deg);
    }


}